{% comment %}
  Subcollection nav for contexts where Alpine is not initialized (e.g. Searchanise sidebar via innerHTML).
  Uses native details/summary. Accepts: collection, expand_open, id_suffix
{% endcomment %}
{%- liquid
  assign sub_collections = collection.metafields.custom.sub_collections.value
  assign id_base = 'SubcollectionsList-' | append: id_suffix
-%}
{%- if sub_collections != blank and sub_collections.size > 0 -%}
<div
  class="collection-subcollections-searchanise-inner pl-2.5 pr-2.5"
  data-subcollections-nav
  data-petals-subcollections
>
  <details
    class="js-filter relative group"
    {% if expand_open %}
      open
    {% endif %}
  >
    <summary
      class="facets__summary w-full relative cursor-pointer flex pt-3 pb-3 items-center justify-between list-none [&::-webkit-details-marker]:hidden"
      aria-controls="{{ id_base }}"
    >
      <span class="text-large text-[rgba(var(--colors-heading))] leading-none font-semibold text-left">{{ collection.title | escape }}</span>
      <span
        class="collection-subcollections-searchanise__caret h-2.5 w-2.5 inline-block duration-300{% if expand_open %} rotate-180{% endif %}"
      >
        {%- render 'icon-alls', icon: 'icon-caret' -%}
      </span>
    </summary>
    <div id="{{ id_base }}" class="pt-1">
      <ul class="pb-4 md:pb-5 space-y-3 list-none p-0 m-0" role="list">
        {% render 'collection-subcollections-links', sub_collections: sub_collections, collection: collection %}
      </ul>
    </div>
  </details>
</div>
{%- endif -%}
